.mnemo-page__img {
  border: solid 2px;
  border-radius: 8px;
  height: 200px;
  width: 200px;
  margin: 40px;
}

.testSound {
  display: inline-grid;
  grid-gap: 10px;
  grid-template-columns: repeat(10, 1fr);
}

.testSound button {
  min-width: 30px;
  min-height: 30px;
}
