.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  position:relative;
  font-size: 20px;
  padding: 8px 24px;
  margin: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color:white;
  border-radius: 50px;
  letter-spacing: 2px;
  background: linear-gradient(150deg, #0162c8,#55e7fc); 

}
